html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
***/

body {
  font-family: $fontMain;
  font-size: 20px;
  line-height: 45px;
  color: $black;
  font-weight: 700;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary;
  @include transition;
  &:hover {
    opacity: .8;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  background: none;
}
/* Typography */
.auto__container {
  position: relative;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 50px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
